Repository bquiring/cbmc, changes with the owners that CODEOWNERS names for each.
All owners: @kroening, @tautschnig, @peterschrammel, @smowton, @mgudemann, @cristina-david, @jgwilson42, @pkesseli, @Degiorgio, @NathanJPhillips, @marek-trtik, @reuk, @thk123, @martin-cs, @romainbrenguier, @antlechner, @diffblue/cbmc-developers, @diffblue/devops, @forejtv, @rabiamarzhiya

initialize_goto_model now returns a goto_model
  src/cbmc/cbmc_parse_options.cpp
  src/clobber/clobber_parse_options.cpp
  src/goto-analyzer/goto_analyzer_parse_options.cpp
  src/goto-programs/initialize_goto_model.cpp
  src/goto-programs/initialize_goto_model.h
Owners: @kroening, @tautschnig, @peterschrammel, @martin-cs, @thk123, @marek-trtik, @smowton

added jbmc executable
  src/Makefile
  src/jbmc/Makefile
  src/jbmc/jbmc_main.cpp
  src/jbmc/jbmc_parse_options.cpp
  src/jbmc/jbmc_parse_options.h
Owners: @kroening, @tautschnig, @peterschrammel, @smowton, @mgudemann, @cristina-david, @jgwilson42, @pkesseli, @Degiorgio, @NathanJPhillips

cbmc cleanup
  src/cbmc/cbmc_parse_options.cpp
  src/cbmc/cbmc_parse_options.h
Owners: @kroening, @tautschnig, @peterschrammel

cbmc: clean out java
  src/Makefile
  src/cbmc/Makefile
  src/cbmc/cbmc_languages.cpp
  src/cbmc/cbmc_parse_options.cpp
  src/cbmc/cbmc_parse_options.h
  src/goto-programs/remove_skip.cpp
Owners: @kroening, @tautschnig, @peterschrammel, @smowton, @marek-trtik

Adding unit tests for the signature/descripture mismatch
  unit/java_bytecode/java_bytecode_parse_generics/AbstractGenericClass.class
  unit/java_bytecode/java_bytecode_parse_generics/AbstractGenericClass.java
  unit/java_bytecode/java_bytecode_parse_generics/Outer$Inner.class
  unit/java_bytecode/java_bytecode_parse_generics/Outer$InnerEnum.class
  unit/java_bytecode/java_bytecode_parse_generics/Outer.class
  unit/java_bytecode/java_bytecode_parse_generics/Outer.java
  unit/java_bytecode/java_bytecode_parse_generics/parse_derived_generic_class.cpp
  unit/java_bytecode/java_bytecode_parse_generics/parse_generic_class.cpp
  unit/java_bytecode/java_bytecode_parse_generics/parse_signature_descriptor_mismatch.cpp
  unit/testing-utils/require_symbol.cpp
  unit/testing-utils/require_symbol.h
Owners: @diffblue/cbmc-developers

Add symbol table writer
  src/util/symbol_table_writer.h
  unit/Makefile
  unit/util/symbol_table.cpp
Owners: @kroening, @tautschnig, @peterschrammel, @diffblue/cbmc-developers

Fixup compiling.md with more clang-format install instructions
  COMPILING.md
Owners: @kroening, @tautschnig, @peterschrammel

Make formatting stage non-blocking on Travis
  .travis.yml
Owners: @diffblue/devops, @thk123, @forejtv, @jgwilson42, @rabiamarzhiya

Rename the XML output to something a bit more meaningful.
  src/analyses/ai.cpp
Owners: @martin-cs, @peterschrammel, @thk123, @marek-trtik, @NathanJPhillips

Don't stop when recursion found
  regression/goto-analyzer/sensitivity-function-call-recursive/main.c
  regression/goto-analyzer/sensitivity-function-call-recursive/test.desc
  src/analyses/ai.cpp
  src/analyses/ai.h
Owners: @diffblue/cbmc-developers, @martin-cs, @peterschrammel, @thk123, @marek-trtik, @NathanJPhillips

Update the mock domain with the new ai_domain_baset interface.
  unit/analyses/ai/ai_simplify_lhs.cpp
Owners: @diffblue/cbmc-developers

Use is_bottom() to catch unreachable functions.
  src/analyses/ai.cpp
Owners: @martin-cs, @peterschrammel, @thk123, @marek-trtik, @NathanJPhillips

Add is_bottom() and is_top() to ai_domain_baset and derived domains.
  src/analyses/ai.h
  src/analyses/constant_propagator.h
  src/analyses/custom_bitvector_analysis.h
  src/analyses/dependence_graph.h
  src/analyses/escape_analysis.h
  src/analyses/global_may_alias.h
  src/analyses/interval_domain.h
  src/analyses/invariant_set_domain.h
  src/analyses/is_threaded.cpp
  src/analyses/reaching_definitions.h
  src/analyses/uninitialized_domain.h
Owners: @martin-cs, @peterschrammel, @thk123, @marek-trtik, @NathanJPhillips

Disable the regression test for now as it depends on the variable sensitivity domain.
  regression/goto-analyzer/sensitivity-function-call-recursive/test.desc
Owners: @diffblue/cbmc-developers

Methods for ai_baset to allow access to the ai_base_domaint for a location.
  src/analyses/ai.h
Owners: @martin-cs, @peterschrammel, @thk123, @marek-trtik, @NathanJPhillips

initialize_goto_model now returns a goto_model
  src/jbmc/jbmc_parse_options.cpp
Owners: @smowton, @mgudemann, @cristina-david, @jgwilson42, @pkesseli, @Degiorgio, @NathanJPhillips

CODEOWNERS:

# These owners will be the default owners for everything in the repo.
*       @kroening @tautschnig @peterschrammel

src/java_bytecode/ @smowton @mgudemann @cristina-david @jgwilson42 @pkesseli @Degiorgio @NathanJPhillips
src/jbmc/ @smowton @mgudemann @cristina-david @jgwilson42 @pkesseli @Degiorgio @NathanJPhillips
src/miniz/ @smowton @mgudemann @cristina-david @jgwilson42 @pkesseli

src/ansi-c/ @marek-trtik @kroening @tautschnig

src/cpp/ @marek-trtik @kroening @tautschnig

CMakeLists.txt @reuk @thk123

cmake/ @reuk @thk123

src/solvers/ @martin-cs @romainbrenguier @antlechner @kroening

src/analyses/ @martin-cs @peterschrammel @thk123 @marek-trtik @NathanJPhillips

src/pointer-analysis/ @martin-cs @peterschrammel @thk123 @marek-trtik 

src/goto-analyzer/ @martin-cs @peterschrammel @thk123 @marek-trtik 

src/goto-instrument/ @martin-cs @peterschrammel @thk123 @marek-trtik  

src/goto-programs/ @smowton @kroening @tautschnig @peterschrammel @marek-trtik  

src/linking/ @smowton @kroening @tautschnig @peterschrammel @marek-trtik  

unit/ @diffblue/cbmc-developers

regression/ @diffblue/cbmc-developers

.travis.yml @diffblue/devops @thk123 @forejtv @jgwilson42 @rabiamarzhiya
appveyor.yml @diffblue/devops @thk123 @forejtv @jgwilson42 @rabiamarzhiya
