Repository bquiring/cbmc, changes with the owners that CODEOWNERS names for each.
All owners: @kroening, @tautschnig, @peterschrammel, @marek-trtik, @smowton, @mgudemann, @cristina-david, @jgwilson42, @pkesseli, @martin-cs, @romainbrenguier, @antlechner, @Degiorgio, @NathanJPhillips, @thk123, @diffblue/cbmc-developers, @reuk, @diffblue/devops, @forejtv, @rabiamarzhiya

Assert denominator non-zero when Java runtime exceptions are disabled
  regression/cbmc-java/divide_by_zero/DivideByZero.class
  regression/cbmc-java/divide_by_zero/DivideByZero.java
  regression/cbmc-java/divide_by_zero/test.desc
  src/java_bytecode/java_bytecode_instrument.cpp
Owners: @diffblue/cbmc-developers, @smowton, @mgudemann, @cristina-david, @jgwilson42, @pkesseli, @Degiorgio, @NathanJPhillips

transfer taint on memcpy and memmove
  regression/goto-analyzer-taint-ansi-c/taint-memcpy1/main.c
  regression/goto-analyzer-taint-ansi-c/taint-memcpy1/main.o
  regression/goto-analyzer-taint-ansi-c/taint-memcpy1/taint.json
  regression/goto-analyzer-taint-ansi-c/taint-memcpy1/test.desc
  src/analyses/custom_bitvector_analysis.cpp
Owners: @diffblue/cbmc-developers, @martin-cs, @peterschrammel, @thk123, @marek-trtik, @NathanJPhillips

Makefile for goto-analyzer-taint-ansi-c
  regression/goto-analyzer-taint-ansi-c/Makefile
Owners: @diffblue/cbmc-developers

Abstract interpreter: add finalize hook
  src/analyses/ai.cpp
  src/analyses/ai.h
Owners: @martin-cs, @peterschrammel, @thk123, @marek-trtik, @NathanJPhillips

Dependence graph: ensure grapht representation is consistent with domain
  src/analyses/dependence_graph.cpp
  src/analyses/dependence_graph.h
Owners: @martin-cs, @peterschrammel, @thk123, @marek-trtik, @NathanJPhillips

Constructed class to mimic the original class in all but name of symbol
  src/java_bytecode/generate_java_generic_type.cpp
  src/java_bytecode/generate_java_generic_type.h
  unit/java_bytecode/generate_concrete_generic_type/generate_java_generic_type.cpp
Owners: @smowton, @mgudemann, @cristina-david, @jgwilson42, @pkesseli, @Degiorgio, @NathanJPhillips, @diffblue/cbmc-developers

Remove useless cmdlinet::clear() call
  src/util/cmdline.cpp
Owners: @kroening, @tautschnig, @peterschrammel

Remove virtual functions: expose single-call entry-point
  src/goto-programs/remove_virtual_functions.cpp
  src/goto-programs/remove_virtual_functions.h
Owners: @smowton, @kroening, @tautschnig, @peterschrammel, @marek-trtik

Add unit test checking dependence graph consistency
  src/analyses/dependence_graph.h
  unit/analyses/dependence_graph.cpp
Owners: @martin-cs, @peterschrammel, @thk123, @marek-trtik, @NathanJPhillips, @diffblue/cbmc-developers

Remove pointless typecasts
  src/util/std_types.cpp
Owners: @kroening, @tautschnig, @peterschrammel

Extending parsing of generics to parse nested generic types
  src/java_bytecode/generate_java_generic_type.cpp
  src/java_bytecode/java_bytecode_convert_class.cpp
  src/java_bytecode/java_types.cpp
  src/java_bytecode/java_types.h
  src/util/irep_ids.def
  unit/java_bytecode/generate_concrete_generic_type/generate_java_generic_type.cpp
  unit/java_bytecode/java_bytecode_parse_generics/parse_bounded_generic_inner_classes.cpp
  unit/java_bytecode/java_bytecode_parse_generics/parse_functions_with_generics.cpp
  unit/java_bytecode/java_bytecode_parse_generics/parse_generic_array_class.cpp
  unit/java_bytecode/java_bytecode_parse_generics/parse_generic_class.cpp
  unit/java_bytecode/java_bytecode_parse_generics/parse_generic_class_with_generic_inner_classes.cpp
  unit/java_bytecode/java_bytecode_parse_generics/parse_generic_fields.cpp
  unit/java_bytecode/java_bytecode_parse_generics/parse_generic_functions.cpp
  unit/java_bytecode/java_bytecode_parse_generics/parse_nested_generics.cpp
  unit/testing-utils/generic_utils.cpp
  unit/testing-utils/require_type.cpp
  unit/testing-utils/require_type.h
Owners: @smowton, @mgudemann, @cristina-david, @jgwilson42, @pkesseli, @Degiorgio, @NathanJPhillips, @kroening, @tautschnig, @peterschrammel, @diffblue/cbmc-developers

Extend unit tests to test for nested generics
  unit/java_bytecode/java_bytecode_parse_generics/parse_generic_fields.cpp
  unit/java_bytecode/java_bytecode_parse_generics/parse_nested_generics.cpp
Owners: @diffblue/cbmc-developers

Add numeric_cast template for numeric conversion
  src/util/mp_arith.h
Owners: @kroening, @tautschnig, @peterschrammel

Replace try-catch with nullptr checks
  src/util/std_code.h
Owners: @kroening, @tautschnig, @peterschrammel

CODEOWNERS:

# These owners will be the default owners for everything in the repo.
*       @kroening @tautschnig @peterschrammel

# These files should rarely change

src/ansi-c/ @marek-trtik @kroening @tautschnig
src/linking/ @smowton @kroening @tautschnig @peterschrammel @marek-trtik
src/miniz/ @smowton @mgudemann @cristina-david @jgwilson42 @pkesseli


# These files change frequently and changes are high-risk

src/goto-programs/ @smowton @kroening @tautschnig @peterschrammel @marek-trtik
src/solvers/ @martin-cs @romainbrenguier @antlechner @kroening
src/java_bytecode/ @smowton @mgudemann @cristina-david @jgwilson42 @pkesseli @Degiorgio @NathanJPhillips
src/analyses/ @martin-cs @peterschrammel @thk123 @marek-trtik @NathanJPhillips
src/pointer-analysis/ @martin-cs @peterschrammel @thk123 @marek-trtik


# These files change frequently and changes are medium-risk

src/goto-analyzer/ @martin-cs @peterschrammel @thk123 @marek-trtik
src/goto-instrument/ @martin-cs @peterschrammel @thk123 @marek-trtik
src/jbmc/ @smowton @mgudemann @cristina-david @jgwilson42 @pkesseli @Degiorgio @NathanJPhillips
src/cpp/ @marek-trtik @kroening @tautschnig


# These files change frequently and changes are low-risk

unit/ @diffblue/cbmc-developers
regression/ @diffblue/cbmc-developers

CMakeLists.txt @reuk @thk123
cmake/ @reuk @thk123

.travis.yml @diffblue/devops @thk123 @forejtv @jgwilson42 @rabiamarzhiya
appveyor.yml @diffblue/devops @thk123 @forejtv @jgwilson42 @rabiamarzhiya
